
    <mat-nav-list>
      <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onclose()">
        <mat-icon>face</mat-icon>
        <span class="nav-container">Signup </span>
      </a>
      <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onclose()">
        <mat-icon>input</mat-icon>
        <span class="nav-container">Login </span>
      </a>
      <a *ngIf="isAuth" mat-list-item routerLink="/training" (click)="onclose()">
      <mat-icon>fitness_center</mat-icon>
        <span class="nav-container">Training </span>
      </a>
      <mat-list-item>
        <button *ngIf="isAuth" mat-icon-button (click)="onclose()">
          <mat-icon>eject</mat-icon>
          <span class="nav-container">Logout </span>
        </button>
      </mat-list-item>
    </mat-nav-list>
    